# Cat Boost Classifier

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, RocCurveDisplay, ConfusionMatrixDisplay
from sklearn.datasets import load_iris

%matplotlib inline

In [6]:
df = pd.read_csv('features_reduced.csv', index_col=0)

In [7]:
df

,race,age,payer_code,admission_type_id,time_in_hospital,num_lab_procedures,diag_1,num_medications,Glucose_Measured,A1Cmeasurement,insulin,change,diabetesMed,readmitted
0,Caucasian,0-10,Unknown,6,1,41,250.83,1,No,No,No,No,No,Otherwise
1,Caucasian,10-20,Unknown,1,3,59,276,18,No,No,Up,Ch,Yes,Otherwise
2,AfricanAmerican,20-30,Unknown,1,2,11,648,13,No,No,No,No,Yes,Otherwise
3,Caucasian,30-40,Unknown,1,2,44,8,16,No,No,Up,Ch,Yes,Otherwise
4,Caucasian,40-50,Unknown,1,1,51,197,8,No,No,Steady,Ch,Yes,Otherwise
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101754,Caucasian,70-80,Unknown,1,9,50,574,33,No,Yes,Steady,Ch,Yes,Otherwise
101755,Other,40-50,MD,1,14,73,592,26,No,Yes,Up,Ch,Yes,Otherwise
101756,Other,60-70,MD,1,2,46,996,17,No,No,Steady,No,Yes,Otherwise
101758,Caucasian,80-90,MC,1,5,76,292,22,No,No,Up,Ch,Yes,Otherwise
101765,Caucasian,70-80,Unknown,1,6,13,530,3,No,No,No,No,No,Otherwise

## Feature engineering

In [14]:
# This function, replace_age_ranges, takes a feature (presumably containing age ranges) as input and 'values' represents corresponding numerical values assigned to each age range.

def replace_age_ranges(feature):
  age_ranges = ['0-10', '10-20', '20-30', '30-40', '40-50', '50-60','60-70', '70-80', '80-90', '90-100']
  values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  
  # The function iterates through the age_ranges and replaces each occurrence in the 'feature' with the corresponding numerical value.
  for i, age_range in enumerate(age_ranges):
    feature = feature.replace(age_range, values[i])

  return feature

In [15]:
df['age']= replace_age_ranges(df['age'])

/var/folders/rj/3yvmqxnj3d17zpgh8wpywxvr0000gn/T/ipykernel_10318/1794585803.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  feature = feature.replace(age_range, values[i])

In [16]:
df['age']

0         1
1         2
2         3
3         4
4         5
         ..
101754    8
101755    5
101756    7
101758    9
101765    8
Name: age, Length: 69973, dtype: int64